{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reportably</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <!-- <script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> -->

        
        <script src="{% static 'home.js' %}" type="text/javascript"></script>  
        <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Times+New Roman&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-mainbg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars text-white"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                        <li class="nav-item active">
                            <a class="nav-link" href="javascript:void(0);" ></i>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}" href="javascript:void(0);" ></i>About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'report' %}"href="javascript:void(0);" ></i>Report</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'donate' %}"href="javascript:void(0);"></i>Donate</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0);"></i>Admin Login</a>
                        </li>
                    </ul>
                    
                </div>
            </nav>
            </head>
<body>
    <div id="e51_43"></div> 
    <!--<script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
        }
    </script> -->
    <div id=title>
        <a href="{% url 'about' %}" > Reportably</a>
    </div>
   
    <h2>Take your first step towards being a responsible citizen</h2>
    <span id="plis work"></span>
    <p1>We want to make sure that you are in the right place and stress-free 
    before you give us the details about the malpractice.
    <div class="container_report">
        <img src={% static "img/report_button.png" %}>
           <button class="btn">
                <a href="{% url 'report' %}">Report</a>
           </button> 
    </div>

</body>
<body>
<div id="google_translate_element"></div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
        }
    </script>
</body>
</html>